.#{$ns}-trading {
  thead th,
  .header {
    font-weight: $ufx-font-weight-light;
  }

  &__walletlist {
    padding: $ufx-base-size $ufx-base-size * 2.5;

    .list {
      display: grid;
      grid-gap: $ufx-base-size;
    }

    a {
      text-decoration: none;
      color: $ufx-text-color;

      &:hover {
        color: $intent-primary;
      }
    }
  }

  // overwrite style
  .#{$ns}-table-wrapper {
    overflow-y: initial;
  }
}
