
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
dist
build

# snapshot
.size-snapshot.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

report.*.json

# storybook temporary assets
/.storybook/cache
/storybook-static

# rollup-plugin-visualizer output file
stats.html

# lernajs
lerna-debug.log
package.json.lerna_backup
