$table-row-height: $ufx-base-size * 4 !default;
$table-row-height-small: $ufx-base-size * 3 !default;
$table-border-width: 1px !default;
$table-border-color: $ufx-divider-black !default;
$table-header-font-weight: $ufx-font-weight-bold;

@mixin table-base {
  border-spacing: 0;
  font-size: $ufx-font-size;
  width: 100%;

  th,
  td {
    padding: centered-text($table-row-height);
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $ufx-heading-color;
    font-weight: $table-header-font-weight;
  }

  td {
    color: $ufx-text-color;
  }

  tbody tr:first-child {
    th,
    td {
      box-shadow: inset 0 $table-border-width 0 0 $table-border-color;
    }
  }
}

.#{$ns}-table {
  @include table-base;

  &.#{$ns}-table--interactive {
    tbody tr {
      &:focus,
      &:hover {
        outline: none;
        td {
          background-color: rgba($gray5, 0.2) !important; // TODO:
          cursor: pointer;
        }
      }

      &:active td {
        background-color: rgba($gray5, 0.3);
      }
    }
  }

  &.#{$ns}-table--striped {
    tbody tr:nth-child(odd) td {
      background-color: $light-gray6;
    }
  }

  &.#{$ns}-table--condensed {
    th,
    td {
      padding: ($ufx-base-size * 0.6) ($ufx-base-size * 0.3);
    }
  }
}
