// Gray scale

$black: #000000 !default;

$dark-gray1: #172a39 !default;
$dark-gray2: #202b33 !default;
$dark-gray3: #293742 !default;
$dark-gray4: #30404d !default;
$dark-gray5: #394b59 !default;

$gray1: #5c7080 !default;
$gray2: #738694 !default;
$gray3: #8a9ba8 !default;
$gray4: #a7b6c2 !default;
$gray5: #bfccd6 !default;
$gray6: #bfccd6 !default;

$light-gray1: #c6b9b9 !default;
$light-gray2: #d4d4d4 !default;
$light-gray3: #e1e8ed !default;
$light-gray4: #ebf1f5 !default;
$light-gray5: #f5f8fa !default;
$light-gray6: #f9f9fe !default;

$white: #ffffff !default;

// CORE colors

$green1: #21bb8b !default;

$red1: #e03d54 !default;

$light-blue1: #82baf6 !default;
$light-blue2: #6fa8e5 !default;

$blue1: #3c32c9 !default;
$blue2: #2c6cfb !default;

$light-yellow1: #fef9e5 !default;

$yellow1: #ff8514 !default;
$yellow2: #cca708 !default;
