.#{$ns}-order-history {
  height: 100%;

  .is-monospaced {
    font-feature-settings: "tnum";
  }

  .empty {
    text-align: center;
    padding: 1em 0.5em;
  }

  .ReactVirtualized__Table__row {
    .intent {
      text-align: center;
    }

    .pair {
      .mobile-order-type {
        display: grid; // use display grid to show truncate(...) symbol
        color: $gray5;
      }
    }

    .status {
      .mobile-order-placed {
        color: $gray5;
      }
    }

    .buy,
    .sell {
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 0;
      width: 3px;
    }

    .buy {
      background: $intent-success;
    }

    .sell {
      background: $intent-error;
    }

    .amount {
      white-space: nowrap;
    }
  }
}
