$ufx-dropdown-height: $ufx-base-size * 4 !default;
$ufx-dropdown-height-small: $ufx-dropdown-height * 0.75 !default;
$ufx-dropdown-padding: $ufx-base-size !default;
$ufx-dropdown-arrow-background-color: rgba($intent-primary, 0.3) !default;
$ufx-dropdown-border-color: mix(
  white,
  lighten($ufx-dropdown-arrow-background-color, 6%),
  8%
) !default;
$ufx-dropdown-text-color: $ufx-text-color !default;

$ufx-dropdown-list-background-color: white !default;
$ufx-dropdown-list-border: 1px solid
  darken($ufx-dropdown-list-background-color, 10%) !default;
$ufx-dropdown-list-box-shadow: 0 1px 2px 0 rgba($black, 0.1) !default;
$ufx-dropdown-list-active-item-background-color: rgba(
  $intent-primary,
  0.3
) !default;

$ufx-dropdown-input-background-color: $light-gray6 !default;

.#{$ns}-dropdown {
  position: relative;
  height: $ufx-dropdown-height;
  min-width: $ufx-base-size * 12;
  @include disabled();

  .ufx-input.dropdown-field {
    border-radius: $ufx-border-radius;
    border: 1px solid transparent;
    height: auto;

    &:focus-within {
      border-color: $ufx-dropdown-border-color;
    }

    &.non-searchable {
      .input-field-container,
      .input-field {
        background: $ufx-dropdown-input-background-color;
        cursor: default;
        opacity: 1;
        user-select: none;
      }
    }

    .input-field-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      border-radius: $ufx-border-radius;
      width: 100%;
      height: 100%;
      color: $ufx-dropdown-text-color;
      transition: background-color 0.2s;
      outline: 0;
      border: none;

      input {
        color: $ufx-dropdown-text-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @include overflow-ellipsis();
      }

      .arrow-icon {
        width: $ufx-base-size * 3;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $ufx-dropdown-input-background-color;
        border-top-right-radius: $ufx-border-radius;
        border-bottom-right-radius: $ufx-border-radius;

        &:hover,
        &:focus,
        &:active,
        &:not(:disabled) {
          background-color: $ufx-dropdown-arrow-background-color;
        }

        &:disabled {
          cursor: not-allowed;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  &.is-open .dropdown-field {
    border-color: $ufx-dropdown-border-color;
    background-color: $ufx-dropdown-input-background-color;
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: $ufx-dropdown-height;
    left: 0;
    right: 0;
    box-shadow: $ufx-dropdown-list-box-shadow;
    background-color: $ufx-dropdown-list-background-color;
    border: $ufx-dropdown-list-border;
    border-radius: $ufx-border-radius;
    height: auto;
    max-height: $ufx-dropdown-padding * 16;
    text-align: left;
  }

  .list-scroller {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list-item {
    display: block;
    padding: ($ufx-dropdown-padding * 0.5) $ufx-dropdown-padding;
    transition: background-color 0.2s;
    cursor: pointer;
    @include overflow-ellipsis();

    &:hover,
    &--active,
    &:focus {
      background-color: $ufx-dropdown-list-active-item-background-color;
    }

    &:active {
      transition-duration: 0.05s;
      background-color: darken($ufx-dropdown-list-background-color, 5%);
    }
  }

  .list-search-wrapper {
    display: block;
    padding: ($ufx-dropdown-padding * 0.5) $ufx-dropdown-padding;
  }

  &--small {
    height: $ufx-dropdown-height-small;

    input {
      height: $ufx-dropdown-height-small;
    }

    .list-wrapper {
      top: $ufx-dropdown-height-small + 2;
    }
  }
}
