$ufx-dropdown-height: 40px !default;
$ufx-dropdown-padding: $ufx-base-size !default;
$ufx-dropdown-background-color: rgba($intent-primary, 0.3) !default;
$ufx-dropdown-border-color: rgba($intent-primary, 0.3) !default;
$ufx-dropdown-text-color: $ufx-text-color !default;
$ufx-dropdown-list-background-color: white !default;
$ufx-dropdown-list-border: 1px solid darken($ufx-dropdown-list-background-color, 10%) !default;
$ufx-dropdown-list-box-shadow: 0 1px 2px 0 rgba($black, 0.1) !default;

$ufx-dropdown-active-item-background-color: rgba($intent-primary, 0.3) !default;
$ufx-dropdown-input-background-color: $light-gray6 !default;
$ufx-dropdown-input-border-color: $light-gray1 !default;

.#{$ns}-dropdown {
  position: relative;
  height: $ufx-dropdown-height;
  min-width: 120px;

  .dropdown-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-radius: $ufx-border-radius;
    width: 100%;
    height: 100%;
    padding: 0 $ufx-dropdown-padding;
    background-color: $ufx-dropdown-background-color;
    border: 1px solid $ufx-dropdown-border-color;
    cursor: pointer;
    color: $ufx-dropdown-text-color;
    transition: background-color .2s;
    outline: 0;

    &:hover,
    &:focus {
      background-color: mix(white, lighten($ufx-dropdown-background-color, 3%), 4%);
    }

    &:active {
      background-color: $ufx-dropdown-background-color;
    }

    .selected-text,
    * {
      @include overflow-ellipsis();
      outline: none;
    }

    svg {
      margin-left: $ufx-dropdown-padding * 0.5;
    }
  }

  &.is-open .dropdown-field {
    border-color: mix(white, lighten($ufx-dropdown-border-color, 6%), 8%);
    background-color: $ufx-dropdown-background-color;
  }

  .list {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    z-index: 999;
    top: $ufx-dropdown-height;
    left: 0;
    right: 0;
    box-shadow: $ufx-dropdown-list-box-shadow;
    background-color: $ufx-dropdown-list-background-color;
    border: $ufx-dropdown-list-border;
    border-radius: $ufx-border-radius;
    list-style-type: none;
    height: auto;
    max-height: $ufx-dropdown-padding * 16;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
  }

  .list-item {
    display: block;
    padding: ($ufx-dropdown-padding * 0.5) $ufx-dropdown-padding;
    cursor: pointer;

    &:hover,
    &--active,
    &:focus {
      background-color: $ufx-dropdown-active-item-background-color;
    }
  }

  .list-search {
    display: flex;
    width: 100%;
    padding: $ufx-dropdown-padding $ufx-dropdown-padding * 0.5;

    input {
      background-color: $ufx-dropdown-input-background-color;
      border: none;
      border-bottom: 1px solid $ufx-dropdown-input-border-color;
      width: 100%;
      height: $ufx-dropdown-padding * 3;
      padding-right: $ufx-dropdown-padding * 2;

      &:focus {
        outline: none;
        border-bottom-color: $ufx-border-focus-color;
      }
    }

    .search-icon {
      margin-left: $ufx-base-size * -1.5;
      align-self: center;
      color: $ufx-dropdown-text-color;
    }
  }

  &--small {
    height: $ufx-dropdown-height * 0.75;

    .list {
      top: $ufx-dropdown-height * 0.75;
    }
  }
}
