$ufx-modal-box-shadow: 0 0 ($ufx-base-size * 1) ($ufx-base-size * 0.3)
  rgba($black, 0.1);
$ufx-modal-padding-horizontal: $ufx-base-size * 2;
$ufx-modal-padding-vertical: $ufx-base-size * 2;

.#{$ns}-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $ufx-background-color;
  color: $ufx-text-color;
  box-shadow: $ufx-modal-box-shadow;
  overflow-y: auto;
  border-radius: $ufx-base-size * 0.6;
  -webkit-overflow-scrolling: touch;

  /* Center the Modal! */
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  max-width: $ufx-base-size * 50;
  min-width: $ufx-base-size * 30;
  max-height: calc(100% - 1em);

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba($black, 0.5);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 $ufx-divider-black;
    min-height: $ufx-base-size * 4;
    padding-left: $ufx-modal-padding-horizontal;
    padding-right: $ufx-base-size * 0.5;

    .close-button {
      padding: ($ufx-base-size * 0.2) ($ufx-base-size * 0.4);

      &:focus {
        @include focus-box-shadow(1px);
      }
    }
  }

  .content {
    padding: $ufx-modal-padding-vertical $ufx-modal-padding-horizontal;
  }
}

.scroll-lock {
  overflow: hidden;
}
