$notification-font-color: $light-gray5;

.#{$ns}-notifications {
  position: fixed;
  bottom: $ufx-base-size * 1.2;
  right: $ufx-base-size * 0.6;
  z-index: 15;
  max-height: 80%;
  overflow: auto;

  &__wrapper {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 0 $ufx-base-size * 0.6;
  }

  .message {
    width: $ufx-base-size * 30;
    display: flex;
    flex: 1 0 auto;
    color: $notification-font-color;
    padding: $ufx-base-size * 0.6;
    border: 1px solid currentColor;
    border-left-width: $ufx-base-size * 0.6;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        margin: ($ufx-base-size * 0.6) ($ufx-base-size * 0.6)
          ($ufx-base-size * 0.6) 0;
      }
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 ($ufx-base-size * 1.6) 0 $ufx-base-size;
  }

  .expand-button {
    width: 100%;
    padding: $ufx-base-size * 0.4 0;
    border: 1px solid currentColor;
    border-top: 0;
    border-left-width: $ufx-base-size * 0.6;
    color: darken($notification-font-color, 5);
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
      color: $notification-font-color;
    }
    &:focus {
      outline: none;
    }
  }

  // LEVELS
  &__level {
    margin-bottom: $ufx-base-size * 0.6;

    @each $intent, $color in $intents {
      &--#{$intent} {
        background-color: $color;
        border-color: $color;

        .close-button {
          position: absolute;
          right: 0;
          top: 0;
          margin-right: 10px;
          margin-top: 5px;
          font-size: 18px;
          color: white;
          cursor: pointer;
        }

        .message {
          border-color: inherit;
        }

        .expand-button {
          border-color: lighten($color, 4);
          background-color: lighten($color, 4);
        }
      }
    }
  }
}
