$ufx-table-row-height: $ufx-base-size * 4 !default;
$ufx-table-row-height-small: $ufx-base-size * 3 !default;
$ufx-table-border-width: 1px !default;
$ufx-table-border-color: $ufx-divider-black !default;
$ufx-table-header-font-weight: $ufx-font-weight-semibold;

$ufx-table-even-row-background-color: $ufx-background-color !default;
$ufx-table-odd-row-background-color: $light-gray6 !default;
$ufx-table-hover-row-background-color: rgba($gray5, 0.2) !default;
$ufx-table-active-row-background-color: rgba($gray5, 0.3) !default;

@mixin table-base {
  border-spacing: 0;
  font-size: $ufx-font-size;
  width: 100%;

  th,
  td {
    padding: centered-text($ufx-table-row-height);
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $ufx-heading-color;
    font-weight: $ufx-table-header-font-weight;
  }

  td {
    color: $ufx-text-color;
  }

  tbody tr:first-child {
    th,
    td {
      box-shadow: inset 0 $ufx-table-border-width 0 0 $ufx-table-border-color;
    }
  }
}

.#{$ns}-table {
  @include table-base;

  &.#{$ns}-table--interactive {
    tbody tr {
      &:active td {
        background-color: $ufx-table-active-row-background-color;
      }

      &:focus,
      &:hover {
        outline: none;
        td {
          background-color: $ufx-table-hover-row-background-color;
          cursor: pointer;
        }
      }
    }
  }

  &.#{$ns}-table--striped tbody {
    tr:nth-child(odd) td {
      background-color: $ufx-table-odd-row-background-color;
    }

    tr:nth-child(even) td {
      background-color: $ufx-table-even-row-background-color;
    }
  }

  &.#{$ns}-table--condensed {
    th,
    td {
      padding: ($ufx-base-size * 0.6) ($ufx-base-size * 0.3);
    }
  }
}
