.ReactVirtualized__Table__headerRow {
  border-bottom: none;
  padding-right: 0 !important;
  height: $ufx-base-size * 4.8;
}

.ReactVirtualized__Table__headerColumn {
  font-weight: normal;

  > * {
    font-size: $ufx-base-size !important;
  }
}

.ReactVirtualized__Table__headerTruncatedText {
  margin-right: $ufx-base-size * 0.4;
  font-weight: $ufx-font-weight-bold;
  font-size: $ufx-font-size;
  text-transform: none;
}

.ReactVirtualized__Table__row {
  color: $ufx-text-color;

  > * {
    font-size: $ufx-font-size;
    line-height: $ufx-line-height !important;
  }
}

.#{$ns}-virtual-table--container {
  display: flex;
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  
  .#{$ns}-virtual-table {
    flex: 1 1 auto;

    .hover {
      &:hover {
        cursor: pointer;
        color: $gray1;
      }
    }
  }
}
