.#{$ns}-virtual-table--container {
  display: flex;
  position: absolute;
  width: calc(100% - (#{$ufx-base-size} * 1.6));
  height: calc(100% - (#{$ufx-base-size} * 1.6));

  .#{$ns}-virtual-table {
    flex: 1 1 auto;

    .ReactVirtualized__Table__headerRow {
      border-bottom: none;
      padding-right: 0;
      height: $ufx-base-size * 4.8;
    }

    .ReactVirtualized__Table__headerColumn {
      font-weight: normal;

      > * {
        font-size: $ufx-font-size;
      }
    }

    .ReactVirtualized__Table__headerTruncatedText {
      margin-right: $ufx-base-size * 0.4;
      font-weight: $ufx-font-weight-normal;
      font-size: $ufx-font-size;
      text-transform: none;
    }

    .ReactVirtualized__Table__row {
      color: $ufx-text-color;

      > * {
        font-size: $ufx-font-size;
        line-height: $ufx-line-height;
      }
    }

    .ReactVirtualized__Table__Grid {
      @include styledScrollbar;
    }

    .interactive {
      &.ReactVirtualized__Table__row {
        &:hover,
        &:focus {
          cursor: pointer;
          background-color: $ufx-table-hover-row-background-color !important;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .striped {
      &.ReactVirtualized__Table__row:nth-child(odd) {
        background-color: $ufx-table-odd-row-background-color;
      }

      &.ReactVirtualized__Table__row:nth-child(even) {
        background-color: $ufx-table-even-row-background-color;
      }
    }
  }
}
