$error-color: lighten($intent-error, 10);

.#{$ns}-available-balance-box {
  width: $ufx-base-size * 22;
  padding: $ufx-base-size * 0.6 $ufx-base-size * 1.2;
  border: 1px solid lighten($color: $light-blue1, $amount: 15);

  &.no-balance {
    border: 1px solid $error-color;
    svg {
      color: $error-color;
    }
  }

  h6 {
    text-align: center;
    text-transform: uppercase;
    font-weight: $ufx-font-weight-semibold;
    font-size: $ufx-font-size;
    margin: $ufx-base-size * 0.5;

    svg {
      color: $light-blue1;
      font-size: $ufx-base-size * 1.2;
    }
  }

  table {
    width: 100%;
  }

  .pointer {
    cursor: pointer;
  }

  .title-currency {
    display: inline-block;
    padding-left: $ufx-base-size * 0.5;
  }

  .trailing-zeros {
    opacity: 0.4;
  }

  &__tooltip {
    max-width: $ufx-base-size * 30;
  }
}
