$fav-col-min-width: $ufx-base-size * 1.4;

.#{$ns}-tickerlist {
  height: inherit;

  .empty-tickerlist {
    display: flex;
    justify-content: center;
  }

  .fav-col {
    .#{$ns}-button--minimal {
      margin: 2px;
      padding: 0 $ufx-base-size * 0.3;
      min-width: $fav-col-min-width;
      min-height: $ufx-base-size * 2;
    }
  }

  .fav-icon {
    min-width: $ufx-base-size;
    min-height: $ufx-base-size;
    font-size: $ufx-base-size;
    cursor: pointer;
  }

  .price-unit {
    font-weight: $ufx-font-weight-medium;
  }

  &__volume-tooltip {
    max-width: $ufx-base-size * 25;
  }

  .volume-header {
    .unit {
      padding: 0;
      vertical-align: baseline;
      margin: 0 $ufx-base-size * 0.3;
      line-height: $ufx-base-size * 2;
      text-decoration: underline;
      cursor: pointer;
      border-radius: 2px;

      &:focus {
        outline: none;
        @include focus-box-shadow(2px);
      }
    }
  }

  .search-icon {
    align-self: center;
    margin: 0;
    margin-right: $ufx-base-size * 0.5;
  }

  .search-ccy {
    margin-bottom: $ufx-base-size;
  }

  .#{$ns}-virtual-table--container {
    // subtract search toolbar height
    height: calc(100% - (#{$ufx-base-size} * 5.4));

    .ReactVirtualized__Table__headerColumn:first-of-type,
    .ReactVirtualized__Table__rowColumn:first-of-type {
      margin-left: 0;
    }

    .ReactVirtualized__Table__headerColumn:first-of-type {
      padding: 0;
    }

    .ReactVirtualized__Table__headerColumn,
    .ReactVirtualized__Table__rowColumn {
      margin-right: $ufx-base-size * 0.5;
    }

    .ReactVirtualized__Table__sortableHeaderIcon {
      flex-basis: $ufx-base-size * 1.2;
    }

    .ReactVirtualized__Table__headerColumn:last-of-type,
    .ReactVirtualized__Table__rowColumn:last-of-type {
      margin-right: $ufx-base-size * 0.5;
    }

    .ReactVirtualized__Table__headerTruncatedText {
      margin-right: 0;
      font-size: $ufx-base-size * 1.2;
    }

    .ReactVirtualized__Table__row {
      > * {
        font-size: $ufx-base-size * 1.2;
      }
    }

    .ReactVirtualized__Table__headerColumn {
      min-width: $fav-col-min-width;
      font-size: $ufx-base-size * 1.2;

      .fav-col button {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        min-height: auto;
      }
    }

    .ReactVirtualized__Table__sortableHeaderColumn {
      padding: 0;
    }

    .ReactVirtualized__Table__Grid {
      &:focus {
        outline: none;
        @include focus-box-shadow(2px);
      }
    }
  }
}
