.#{$ns}-tickerlist {
  .empty-tickerlist {
    display: flex;
    justify-content: center;
  }

  .#{$ns}-table {
    th {
      font-size: $ufx-base-size * 1.3;
      padding: 2px;

      button:not(.fav-button) {
        font-weight: $ufx-font-weight-light;
        width: 100%;
        text-align: inherit;
        padding: 2px;

        span {
          width: 100%;
        }
      }
    }
  }

  .#{$ns}-table tbody {
    td {
      vertical-align: middle;
      font-feature-settings: "tnum";
    }

    td:not(:nth-child(1)) {
      padding: $ufx-base-size * 0.4;
    }
  }

  .fav-col {
    width: 7%;
    padding-left: $ufx-base-size * 0.5;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .fav-icon {
    width: $ufx-base-size;
    height: $ufx-base-size;
    font-size: $ufx-base-size;
    cursor: pointer;
  }

  .price-unit {
    font-weight: $ufx-font-weight-light;
  }

  &__volume-tooltip {
    max-width: $ufx-base-size * 25;
  }

  .volume-header {
    .unit {
      padding: 0;
      vertical-align: baseline;
      margin-left: $ufx-base-size * 0.3;
      text-decoration: underline;
      cursor: pointer;
      border-radius: 2px;

      &:focus {
        outline: none;
        @include focus-box-shadow(2px);
      }
    }
  }

  .search-icon {
    align-self: center;
    margin: 0;
    margin-right: $ufx-base-size * 0.5;
  }

  .search-ccy {
    margin-bottom: $ufx-base-size;
  }
}
